body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
main {
    flex-grow: 1;
}

.card {
width: 300px;
}



@media all and (max-width:767px) {

    .banner-responsive {
        width: auto;
        height: 300px;
object-fit:cover;
object-position: 50%;



    }
}